 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Condensed:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.sidebar{
position: absolute;
font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(176, 169, 169, 0.518);
   transition: transform 0.3s ease-in;
    height: 100vh;
    cursor: pointer;

}
.sidebar nav{
    padding: 20px;

}
 .sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 18px 0px;
 }
 .sidebar nav li a{
  text-decoration: none;
  color: black;
 }
.main{
    /* background-color: yellow; */
    width: 80vw;
}
.container{
position: absolute;
    display: flex;
   
}
.infocontainer{

 margin: auto;
 
   
    /* background-color: blueviolet; */
    height: 58vh;
    width: 80vw;
    /* margin-top: 70px; */
    display: flex;
    justify-content: space-around;
}
.infocontainer{
 
    margin:100px 180px;
}
.divinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.Servicescontainer{
    margin: auto;
 
   
    /* background-color: blueviolet; */
    height: 58vh;
    width: 80vw;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    margin:0px 180px;
}
.hello{
    font-size: 50px;
}
.name{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.about{
    font-size: 30px;
}
.more-about{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

.buttons button{

    padding: 10px 14px;
    border: 2px solid rgba(211, 60, 60, 0.495);
    border-radius: 22px;
    color: white;
    background: #3f3fab;
    cursor: pointer;
    font-size: 21px;
    margin: 15px 3px;

}
.buttons button:hover{
    background: white;
    color: black;
}
.devpic img{
    width:20vw;
    height:58vh;
}
.contactform{
    margin-left: 180px;
    padding:100px 50px;
    font-family: 'Roboto Condensed', sans-serif;
}
.contactform h1{
margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}
.contactform form div{
    padding: 5px 0px;
  
}
.contactform form div input{
  width: 30vw;
  border-radius: 5px;
  margin: 4px 0px;
  padding: 3px;
  display: flex;
  flex-direction: column;

}
#emailhelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
}
.form-check{
flex-direction: row;
width: 5px;
}
#form-check-input{
width: 24px;
margin:3px 0;
}
.btn-sm{
    padding: 5px 5px;
    border: 2px solid rgba(211, 60, 60, 0.495);
    border-radius: 21px;
    color: white;
    background: #3f3fab;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;

}
.btn-sm:hover{
    background-color: rgb(208, 197, 197);
    color: black;
    border: 2px solid red;
    padding:10px;
    font-size: 18px;
}
.blogitems{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
}
.blogcontainer{

margin: 0px 180px;
}
.blogcontainer h1{
    font-family: 'Roboto Condensed', sans-serif;
 margin-left: 20px;
    margin-left:0px 80px;
}
.blogitems p{
    font-family: 'Source Code Pro', monospace;
}
.intro{
    margin: 0px 180px;
}
 h2{
    font-family: 'Roboto Condensed', sans-serif;
  
}
.intro p{
    font-family: 'Source Code Pro', monospace;
  margin: 10px 0px;
}
.intro button{
    margin-left: 10px;
    margin-top: -5px;
}
.skillcontainer{
    padding: 12px;
}
.skill{
    width: 265px;
    height: 13px;
    background-color: red;
    margin: 0px 5px;
    border: 1px solid black;
}
.skillitems{
    display: flex;
  align-items: center;

}
.hundered{
    width: 265px;
    background-color: yellow;
}
.fifty{
    width: 230px;
    background-color: aqua;
}
.t25{
    width: 75px;
    background-color: #e80595;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
 
}
.hum{
    margin-left: 15px;
    margin-top: 5px;
}
.cross{
    margin-left: 130px;
    margin-top: 5px;
}
@media (max-width: 1615px) {
    *{
        /* background-color: red; */
    }
    .devpic{
display: none;
    }
    .intro, .blogcontainer,.contactform, .infocontainer,.Servicescontainer{
        margin: 8px;
    }

}